.contextMenu {
    position: fixed;
    z-index: 9999;
    min-width: 200px;
    background-color: white;
    background-color: var(--color-button-background);
    border: var(--border-style);
    box-shadow: var(--box-shadow-standard);
    border-radius: 14px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

@media (max-width: 600px) {
    .contextMenu {
        min-width: 120px;
        border-radius: 10px;
        padding: 6px;
    }
}
