.glyphButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--color-background);
    transition: background-color 0.2s ease;
}

.glyphButton:hover {
    background-color: var(--color-button-background-active);
}

.glyphButton:active {
    background-color: var(--color-button-background-selected);
}

.glyphIcon {
    transition: transform 0.2s ease;

    & path {
        stroke: var(--color-foreground);
    }
}

.rotated {
    transform: rotate(180deg);
}
