.loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 5rem;
}

.title {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--color-text-bold);
    margin: 0;
}

.subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-text-secondary);
    margin: 0;
}

.logo {
    width: 20px;
    height: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 600px;
}

@media (max-width: 600px) {
    .content {
        width: 90%;
    }

    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: .9rem;
    }

    .passkeyContainer {
        flex-direction: column;
    }

    .divider {
        margin: .3rem 0;
    }
}

.loginButtonContainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

.top {
    width: 100%;
}

.passkeyContainer {
    display: flex;
    gap: .5rem;
    width: 100%;
}

.divider {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 1rem 0;
}

.line {
    flex: 1;
    height: 1px;
    background-color: var(--color-framework);
}

.dividerText {
    font-size: .9rem;
    color: var(--color-text-secondary);
    font-weight: 400;
}