@property --progress-percent {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

.transferWindow {
    position: fixed;
    border-left: var(--border-style);
    border-top: var(--border-style);
    background-color: var(--color-background);
    bottom: 0;
    right: calc((100% - var(--content-width)) / 2);
    width: 450px;
    z-index: 1;
    overflow: hidden;
    min-height: 60px;

    transition: border-top-left-radius 0.3s ease;
}

.dropOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    backdrop-filter: blur(2px);
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.5);
    transition:
        opacity 0.3s ease,
        backdrop-filter 0.3s ease;
    z-index: 2;
}

@media (prefers-color-scheme: dark) {
    .dropOverlay {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.visible {
    pointer-events: all;
    opacity: 1;
    backdrop-filter: blur(2px);
}

.borderBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    outline: 10px solid var(--color-text-bold);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    text-align: center;
}

.text {
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-text-bold);
}

.header {
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 40px;
    outline: var(--border-style);
}

.status {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--color-text-secondary);
    margin: 0;
}

.left {
    width: 350px;
    position: relative;
}

.subtext {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-text-secondary);
}

.arrowPath {
    stroke: var(--color-text-bold);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(0);
    }
}

.title {
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-text-bold);
    margin: 0;
    margin-top: -4px;
}

.subtitle {
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--color-text-secondary);
    margin: 0;
    transition: opacity 0.3s ease;
    position: relative;
}

.fileProgress {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    width: calc(100% - 20px);
    height: 30px;

    transition:
        height 0.5s ease,
        padding 0.5s ease,
        margin 0.5s ease,
        opacity 0.5s ease;
}

.progressFill {
    background-color: var(--color-framework);
    transition: width 0.3s ease;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.5;
    user-select: none;
}

.progressText {
    font-size: 0.5rem;
    font-weight: 600;
    color: var(--color-text-primary);
    margin: 0;
    width: 20px;
}

.progressBackground {
    width: 100%;
    height: 100%;
    background-color: var(--color-framework);
}

.progressBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 8px;
    transition: width 0.3s ease;
    z-index: -1;
    pointer-events: none;
}

.progressBars {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
}

.fileName {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--color-text-primary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bytesUploaded {
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--color-text-secondary);
    margin: 0;
    width: max-content;
}

.chunksUploaded {
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--color-text-secondary);
    margin: 0;
    float: right;
}

.fileInfo {
    width: 60%;
    height: 30px;
}

.progressNumbers {
    flex-grow: 0;
    width: max-content;
}

.rows {
    overflow: scroll;
    max-height: 230px;
    min-height: 230px;
    transition:
        height 0.3s ease,
        max-height 0.3s ease,
        min-height 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

@media (max-width: 600px) {
    .transferWindow {
        width: 100%;
        right: 0;
        border-radius: 0;
        border-top-left-radius: 0 !important;
        min-height: unset;
    }

    .header {
        padding: 10px;
    }

    .fileProgress {
        padding: 10px;
    }

    .title {
        font-size: 1rem;
    }

    .subtitle {
        font-size: 0.7rem;
    }

    .fileName {
        font-size: 0.8rem;
    }

    .status {
        font-size: 0.7rem;
    }

    .subtext {
        font-size: 0.8rem;
    }

    .progressText {
        font-size: 0.4rem;
    }

    .bytesUploaded {
        font-size: 0.6rem;
    }

    .chunksUploaded {
        font-size: 0.6rem;
    }

    .fileProgress {
        width: calc(100% - 20px);
    }
}
