.locationBar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--color-background-secondary);
    border-bottom: var(--border-style);
    font-size: 0.9rem;
    font-weight: 300;
}

.pathSegment {
    display: inline-block;
    margin-left: 8px;
    height: 20px;
    cursor: pointer;
    color: var(--color-text-secondary);
}

.seperator {
    margin-left: 8px;
    height: 20px;
    color: var(--color-text-secondary);
}