.row {
    border-bottom: var(--border-style);
    display: flex;
    align-items: center;
    padding: 15px 0;
    color: var(--color-text-secondary);
    font-weight: 350;
    font-size: .9rem;
    min-width: 1000px;
}

.rowElement {
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fileName {
    width: 30%;
    line-height: 1;
}

.fileSize {
    width: 15%;
    line-height: 1;
}

.fileType {
    width: 15%;
    line-height: 1;
}