.spacer {
    width: 72px;
    display: inline-block;
}

.tableHeader {
    min-width: 1000px;
    white-space: nowrap;
    border-bottom: var(--border-style);
}

.headerElement {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1;
    display: inline-block;
    font-weight: 600;
    color: var(--color-text-primary);
}

.fileName {
    width: 30%;
}

.fileSize {
    width: 15%;
}

.fileType {
    width: 15%;
}
