:root {
    --color-framework: #E0E0E0;
    --border-style: 1px solid var(--color-framework);
    --color-text-secondary: #858585;
    --color-text-primary: #4A4A4A;
    --color-text-bold: #191919;
    --content-width: 80%;
    --color-background: #f9f9f9;
}

@media (max-width: 1100px) {
    :root {
        --content-width: 100%;
    }
}

html {
    scroll-behavior: smooth;
    margin: 0;
    overflow: hidden;
}

body {
    margin: 0;
    background-color: var(--color-background);
    color: #333;
}