.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.errorTitle {
    font-size: 1.8rem;
    font-weight: 800;
    margin: 0;
    line-height: 1.4;
    color: var(--color-text-bold);
    letter-spacing: -0.04rem;
    text-align: center;
}

.errorMessage {
    font-size: 1rem;
    margin: 0;
    text-align: center;
}

.loading {
    font-size: 1rem;
    margin: 0;
    text-align: center;
}

.status {
    font-size: 1.2rem;
    margin-top: .5rem;
    margin-bottom: .3rem;
    text-align: center;
    color: var(--color-text-bold);
    font-weight: 600;

}

.description {
    font-size: 1rem;
    margin: 0;
    text-align: center;
    color: var(--color-text-primary);
}

.icon {
    width: 40px;
    height: 40px;
    color: var(--color-text-bold);
}
