.footerContainer {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 10px;
    background-color: var(--color-background);
}

@media (max-width: 600px) {
    .footerContainer {
        height: 100%;
    }
}
