.spacer {
    width: 36px;
    display: inline-block;
}

.tableHeader {
    min-width: 800px;
    white-space: nowrap;
    border-bottom: var(--border-style);
}

.headerElement {
    all: unset;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1;
    display: inline-block;
    font-weight: 600;
    color: var(--color-text-bold);
    cursor: pointer;
    font-size: 0.9rem;
}

.sortIcon,
.sortIconActive {
    margin-left: 5px;
    width: 12px;
    height: 12px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.fileName {
    width: 35%;
}

.fileSize {
    width: 10%;
}

.fileType {
    width: 15%;
}

@media (max-width: 600px) {
    .tableHeader {
        display: none;
    }
}
