.pageContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerpiece {
  border-left: var(--border-style);
  border-right: var(--border-style);
  width: var(--content-width);
  height: 100vh;
}

.content {
    overflow: scroll;

}
