.popupContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    z-index: 6;
}

.popupChildren {
    background-color: var(--color-background);
    border: var(--border-style);
    border-radius: 12px;
    padding: 20px;
    box-shadow: var(--box-shadow-standard);
    min-width: 550px;
    max-width: 90%;
    position: relative;
    z-index: 4;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 4;
}

.popupBackdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
}

@media (max-width: 600px) {
    .popupChildren {
        padding: 20px;
        min-width: calc(100vw - 80px);
        border-radius: 18px;
    }

    .close {
        top: 20px;
        right: 20px;
    }
}
