.glyphButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.glyphButton:hover {
    background-color: var(--color-background-active);
}

.glyphButton:active {
    background-color: var(--color-background-selected);
}

.glyphIcon {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease;

    & path {
        stroke: var(--color-text-primary);
    }
}

.rotated {
    transform: rotate(180deg);
}
