.pageContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.centerpiece {
  border-left: var(--border-style);
  border-right: var(--border-style);
  width: var(--content-width);
  position: relative;
  height: calc(100vh - 70px);
  overflow-y: hidden;
}

.content {
  height: 100%;
}

.rows {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  height: calc(100% - 80px);
  width: max-content;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: var(--border-style);
  background-color: var(--color-background);
  height: 78.5px;
}

@media (max-width: 600px) {
  .rows {
    width: 100%;
  }

  .pageContainer {
    margin-top: 62.5px;
  }

  .footer {
    bottom: 48px;
  }
}