.container {
    display: flex;
    height: 52px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.info {
    all: unset;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 30px;
    justify-content: center;
    align-items: start;
    border-radius: 8px;
    background-color: transparent;
    border: none;
    height: 100%;

    background-color: var(--color-button-background);
    border: var(--border-style);
    border-radius: 8px;
    transition: background-color 0.2s ease;

    cursor: pointer;
}

.container:hover .info,
.container:hover .avatar {
    background-color: var(--color-background-hover);
}

.container:active .info,
.container:active .avatar {
    background-color: var(--color-background-active);
}

.title {
    font-size: 0.8rem;
    color: var(--color-text-secondary);
    margin: 0;
    font-weight: 300;
    margin-bottom: -0.1em;
    font-family: var(--font-inter);
}

.username {
    font-weight: 700;
    font-size: 1.1rem;
    margin: 0;
    color: var(--color-text-bold);
    font-family: var(--font-inter);
}

.avatar {
    width: 52px;
    height: 52px;
    border-radius: 5px;
    object-fit: cover;
    margin: 0 10px;

    background-color: var(--color-button-background);
    border: var(--border-style);
    border-radius: 8px;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

@media (max-width: 600px) {
    .container {
        height: 40px;
    }

    .avatar {
        width: 38px;
        height: 38px;
    }

    .title {
        font-size: 0.7rem;
    }

    .username {
        font-size: 0.9rem;
    }
}
