:root {
    --color-framework: #e0e0e0;
    --color-framework-selected: #c8c8c8;
    --border-style: 1px solid var(--color-framework);
    --color-text-secondary: #858585;
    --color-text-primary: #4a4a4a;
    --color-text-bold: #191919;
    --content-width: 80%;
    --color-background: #f9f9f9;
    --color-background-selected: #ebebeb;
    --color-background-hover: #f4f4f4;
    --color-background-active: #f2f2f2;
    --color-background-bold-hover: #2a2a2a;
    --color-button-background-active: #343434;
    --box-shadow-standard: 0 4px 12px rgba(0, 0, 0, 0.1);

    --color-error-background: rgba(239, 68, 68, 0.05);
    --color-error-foreground: rgb(239, 68, 68);
    --color-error-background-hover: rgba(239, 68, 68, 0.08);
    --color-error-background-active: rgba(239, 68, 68, 0.12);

    --color-success-background: rgba(34, 197, 94, 0.1);
    --color-success-foreground: rgb(34, 197, 94);
    --color-success-background-hover: rgba(34, 197, 94, 0.12);
    --color-success-background-active: rgba(34, 197, 94, 0.18);
}

@media (max-width: 1100px) {
    :root {
        --content-width: 100%;
    }
}

html {
    scroll-behavior: smooth;
    margin: 0;
    overflow: hidden;
}

body {
    margin: 0;
    background-color: var(--color-background);
    color: #333;
}
